.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Set the container to full viewport height */
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px; /* Adjust the max-width to your preference */
}

input[type="text"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}